[submodule "submodules/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
